{% extends "base_custom.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Block {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- Cards css -->
    <link rel="stylesheet" href="/static/build/css/cards.css">
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">


      <div class="clearfix"></div>
      <div class="x_content">


<!--              <div class="well" style="overflow: auto">-->
<!--                <div class="col-md-12">-->
<!--                  <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">-->
<!--&lt;!&ndash;                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>December 30, 2014 - January 28, 2020</span> <b class="caret"></b>&ndash;&gt;-->
<!--                        <select id="test">-->
<!--                      <option value="1">American Black Bear</option>-->
<!--                      <option value="2">Asiatic Black Bear</option>-->
<!--                      <option value="3">Brown Bear</option>-->
<!--                      <option value="4">Giant Panda</option>-->
<!--                      <option value="5">Sloth Bear</option>-->
<!--                      <option value="6">Sun Bear</option>-->
<!--                      <option value="7">Polar Bear</option>-->
<!--                      <option value="8">Spectacled Bear</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

            </div>

      <div class="row">


        <div class="col-md-8 col-sm-8 col-xs-8">
          <div class="x_panel">
            <div class="x_title">
              <h2>List of Freeholders </h2>

              <div class="clearfix"></div>
            </div>

            <div class="x_content">

<!--              <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->

              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title"> Freeholder Name </th>
                      <th class="column-title">Address </th>

                    </tr>
                  </thead>

                  <tbody>


                    {% for freeholder in object_list %}
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
<!--                        <td class=" ">{{ property.pk }}</td>-->


                        <td class=" ">{{ freeholder.name }}</td>
                        <td class=" ">{{ freeholder.full_address }}</td>

                    </tr>
                    {% endfor %}


                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="x_panel">


              <div class="form-group">

                  <div style="padding=10px;" class="col-md-12 col-sm-12 col-xs-12 ">
                    <div  class="col-md-4 col-sm-4 col-xs-12 pull-left">
                    <a href="{% url 'freeholder_add_view' %}">
                        <div style="padding=10px;" type="submit" class="btn btn-success">Add new Freeholder</div>
                    </a>
                    </div>
                      <div  class="col-md-4 col-sm-4 col-xs-12 pull-right">
                    <a href="{% url 'block_view' %}">
                    <div style="padding=10px;" type="submit" class="btn btn-info">Go to Block</div>
                    </a>
                      </div>

                  </div>
                </div>


          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
<!--          <div class="x_panel">-->
<!--            <div class="x_title">-->
<!--              <h2>Service Charge Positions</h2>-->

<!--              <div class="clearfix"></div>-->
<!--            </div>-->
<!--            <div class="x_content">-->
<!--              <canvas id="mybarChart"></canvas>-->
<!--            </div>-->
<!--          </div>-->
        </div>


      </div>
    </div>
  </div>




{% endblock content %}

{% block javascripts %}
  {{ block.super }}
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>

{% endblock javascripts %}
        $(document).ready(function () {
          $("#test").CreateMultiCheckBox({ width: '230px',
                     defaultText : 'Select Below', height:'250px' });
        });

{% block jq%}

{% endblock jq %}
