{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block title %} Sign Up {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- Cards css -->
    <link rel="stylesheet" href="/static/build/css/cards.css">
{% endblock stylesheets %}
{% block content %}
<body>


    <div class="main" style="margin-top: 20px;">

            <div class="scene scene--card">
                <div class="card">
                    <div class="card__face card__face--front">
                        <!--<section class="signup">-->
                            <div class="container">
                                <div class="signup-content">
                                    <div class="signup-form">
                                        <h2 class="form-title">Sign up</h2>
                                        <form method="POST" class="register-form" id="register-form">
                                            {% csrf_token %}
<!--                                            {{ form.as_p }}-->
                                            <div class="form-group">
                                                <label for=""><i class="zmdi zmdi-account material-icons-name"></i></label>
<!--                                                <input type="text" name="name" id="name" placeholder="Your Name"/>-->
                                                {{ form.name }}
                                            </div>
                                            <div class="form-group">
                                                <label for=""><i class="zmdi zmdi-email"></i></label>
<!--                                                <input type="email" name="email" id="email" placeholder="Your Email"/>-->
                                                {{ form.email }}
                                            </div>
                                            <div class="form-group">
                                                <label for=""><i class="zmdi zmdi-lock"></i></label>
<!--                                                <input type="password" name="pass" id="pass" placeholder="Password"/>-->
                                                 {{ form.password1 }}
                                            </div>
                                            <div class="form-group">
                                                <label for=""><i class="zmdi zmdi-lock-outline"></i></label>
<!--                                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>-->
                                                {{ form.password2 }}
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                                            </div>
                                            <div class="form-group form-button">
                                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="signup-image">
                                        <figure><img src="/static/build/images/signup-image.jpg" alt="sing up image"></figure>
<!--                                        <a href="#" class="signup-image-link">I am already member</a>-->
                                                                                 <p class="change_link">
                                            <a href="{% url 'users_login' %}" class="to_register"> Log In </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <!--</section>
    -->
                    </div>
                        <!-- Sign up form -->
                </div>
            </div>



    </div>

    <!-- JS -->
    <script src="/static/build/js/cards.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
{% endblock content %}

{% block javascripts %}
  {{ block.super }}


{% endblock javascripts %}

{% block jq%}

{% endblock jq %}
