{% extends "base_custom.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Assessment List {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- Cards css -->
    <link rel="stylesheet" href="/static/build/css/cards.css">
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">


      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>Dear <i>{{ user }}</i>, Welcome </h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form method="post" action="">
                  {% csrf_token %}
                    <section class="">
                        <!-- title row -->
                        <div class="row">


                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel">
                            <div class="x_title">
                              <h2>Assessment Details </h2>
                                <a href="{% url 'assessment_list_view' %}"><h2 class="pull-right"><i class="fas fa-step-backward" style="padding-left: 2%"></i></h2>
                                <h2 class="pull-right" style="padding-right: 1%;">Back to List</h2></a>

                              <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                <!--              <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            Assessment Name
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.assessment_name }}</i></strong>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Candidate Name
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.candidate_name }}</i></strong>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Candidate Surname
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.candidate_surname }}</i></strong>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Candidate Email
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.candidate_email }}</i></strong>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Token
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
{#                                            <strong><i>{{ assessment.token|truncatechars:20 }}</i></strong>#}
                                            <input class="form-text" value="{{ assessment.token}}" readonly="readonly"></input>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            Date Created
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.date_creation }}</i></strong>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Date Started
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.date_first_opened }}</i></strong>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Date Completed (if submitted)
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.date_complete }}</i></strong>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Time to complete
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.time_to_complete }}</i></strong>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Score
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            <strong><i>{{ assessment.score }}</i></strong>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">
                                            Answers
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%">

                                            <strong>
                                                <input class="form-text" value="{{ assessment.answers}}" readonly="readonly"></input>
                                            </strong>
                                        </div>
                                    </div>
                                </div>


                            </div>
                          </div>
                        </div>
                      </div>
                        <!-- info row -->
                        <div class="row">


                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel">
                            <div class="x_title">
                              <h2>Questions List <small>List of Questions for the Selected Assessment</small></h2>

                              <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                <!--              <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->

                              <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                  <thead>
                                    <tr class="headings">

                                      <th class="column-title">#</th>
                                      <th class="column-title">Question Type</th>
                                      <th class="column-title">Question</th>
                                        <th class="column-title"># of Selection</th>
                                        <th class="column-title"># of Answers</th>
                                        <th class="column-title">Option 1</th>
                                        <th class="column-title">Option 1 correct?</th>
                                        <th class="column-title">Option 2</th>
                                        <th class="column-title">Option 2 correct?</th>
                                        <th class="column-title">Option 3</th>
                                        <th class="column-title">Option 3 correct?</th>
                                        <th class="column-title">Option 4</th>
                                        <th class="column-title">Option 4 correct?</th>
                                        <th class="column-title">Option 5</th>
                                        <th class="column-title">Option 5 correct?</th>
                                        <th class="column-title">Answers</th>
                                    </tr>
                                  </thead>

                                  <tbody>

                                    {% for question in questions_selected %}
                                    <tr class="even pointer">



                                      <td class=" "><a href="{% url 'question_detail_view' question.pk %}"> {{ question.pk }} </a> </td>

                                      <td class=" ">{{ question.question_type }}</td>
                                      <td class=" ">{{ question.question|truncatewords:10 }}</td>
                                      <td class=" ">{{ question.number_of_selection}}</td>
                                    <td class=" ">{{ question.number_of_answers}}</td>
                                    <td class=" ">{{ question.answer_1|truncatewords:10}}</td>
                                    <td class=" ">{{ question.answer_1_value}}</td>
                                    <td class=" ">{{ question.answer_2|truncatewords:10}}</td>
                                    <td class=" ">{{ question.answer_2_value}}</td>
                                    <td class=" ">{{ question.answer_3|truncatewords:10}}</td>
                                    <td class=" ">{{ question.answer_3_value}}</td>
                                    <td class=" ">{{ question.answer_4|truncatewords:10}}</td>
                                    <td class=" ">{{ question.answer_4_value}}</td>
                                    <td class=" ">{{ question.answer_5|truncatewords:10}}</td>
                                    <td class=" ">{{ question.answer_5_value}}</td>
                                    <td class=" ">{{ question.answers|truncatewords:10}}</td>
                                    </tr>
                                    {% endfor %}

                                  </tbody>
                                </table>
                              </div>


                            </div>
                          </div>
                        </div>
                      </div>



                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                          <div class="col-xs-12">
 {% comment %}
<!--                              <div  class="btn btn-link pull-right" style="margin-right: 10px;"><a href="{% url 'question_view' %}"><i class="fas fa-list-ul"></i> Back to List </a></div>-->
{% endcomment %}
                          </div>
                        </div>
                    </section>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}

{% block javascripts %}
  {{ block.super }}


{% endblock javascripts %}

{% block jq%}

{% endblock jq %}