{% extends "base_custom.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- Cards css -->
    <link rel="stylesheet" href="/static/build/css/cards.css">
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">


      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>Dear <i>{{ user }}</i>, Welcome </h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form method="get" action="{% url 'assessment_create_view' %}">
                    <section class="">
                        <!-- title row -->
                        <div class="row">
                          <div class="col-xs-12">
                            <h1>

                                <i class="fas fa-tachometer-alt"></i> Dashboard

                                <small class="pull-right"><small><small>
                                    Today: <div id="demo"></div>
                                    <script>
                                                var d = new Date();
                                                document.getElementById("demo").innerHTML = d.toDateString();
                                    </script>
                                    </small></small>
                                </small>
                            </h1>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row">


                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2>Statistics </h2>

                                  <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                      <div class="tile-stats">
                                        <div style="padding-left:0px" class="col-md-12">
                                        <div style="padding-left:0px" class="col-md-9">
                                        <div class="count" style="font-size:30px;">
                                          {{ tot_number_of_assessment }}
                                        </div>

                                        </div>
                                        <div class="col-md-3">
                                        <div class="icon" style="color:#118ab2;">
                                          <i class="fas fa-graduation-cap"></i>
                                        </div>
                                         </div>
                                        </div>
                                        <h3>Assessments</h3>
                                        <p>Total assessments created</p>
                                      </div>
                                    </div>
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                      <div class="tile-stats">
                                        <div style="padding-left:0px" class="col-md-12">
                                        <div style="padding-left:0px" class="col-md-9">
                                        <div class="count" style="font-size:30px;"> {{ assessment_created_30_days }}</div>
                                        </div>
                                        <div class="col-md-3">
                                        <div class="icon" style="color:#118ab2;">
                            <!--              <i class="fas fa-balance-scale-right"></i>-->
                                          <i class="fas fa-clock"></i>
                                        </div>
                                         </div>
                                        </div>
                                        <h3>Last 30 days</h3>
                                        <p>Assessments created in the last 30 days</p>
                                      </div>
                                    </div>
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                      <div class="tile-stats">
                                        <div style="padding-left:0px" class="col-md-12">
                                        <div style="padding-left:0px" class="col-md-9">
                                        <div class="count" style="font-size:30px;">{{ assessment_completed }}</div>
                                        </div>
                                        <div class="col-md-3">
                                        <div class="icon" style="color:#118ab2;">
                                        <i class="fas fa-check-circle"></i>
                                        </div>
                                         </div>
                                        </div>
                                        <h3>Completed</h3>
                                        <p>Total number of Assessments Completed</p>
                                      </div>
                                    </div>
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                      <div class="tile-stats">
                                        <div style="padding-left:0px" class="col-md-12">
                                        <div style="padding-left:0px" class="col-md-9">
                                        <div class="count" style="font-size:30px;">{{ assessment_completed_30_days }}</div>
                                        </div>
                                        <div class="col-md-3">
                                        <div class="icon" style="color:#118ab2;">
                                        <i class="fas fa-calendar-alt"></i>
                                        </div>
                                         </div>
                                        </div>
                                        <h3>Last 30 days</h3>
                                        <p>Assessments completed in the last 30 days</p>
                                      </div>
                                    </div>
                    <!--              <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->




                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="row">


                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2>Assessment List <small>List of All the Approved Questions for Online Assessment</small></h2>
                                    <div style="overflow:auto;">
                                      <div style="float:right;">

                                        <button type="submit" id="Btn" onclick="">Create a New Assessment</button>

                                      </div>
                                    </div>
                                  <div class="clearfix"></div>
                                </div>

                                <div class="x_content">

                    <!--              <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->

                                  <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                      <thead>
                                        <tr class="headings">

                                            <th class="column-title">#</th>

                                            <th class="column-title">Candidate Name</th>
                                            <th class="column-title">Candidate Email</th>
                                            <th class="column-title">Creator</th>
                                            <th class="column-title">Sent</th>
                                            <th class="column-title">Completed</th>


                                        </tr>
                                      </thead>

                                      <tbody>

                                        {% for a in object_list %}
                                        <tr class="even pointer">



                                          <td class=" "><a href="{% url 'assessment_detail_view' a.pk %}"> {{ a.pk }} </a> </td>
                                          <td class=" "><a href="{% url 'assessment_detail_view' a.pk %}">{{ a.candidate_name }}</a> </td>
                                          <td class=" "><a href="{% url 'assessment_detail_view' a.pk %}">{{ a.candidate_email }}</a> </td>
                                          <td class=" "><a href="{% url 'assessment_detail_view' a.pk %}">{{ a.creator_email }}</a> </td>
                                          <td class=" "><a href="{% url 'assessment_detail_view' a.pk %}">{{ a.date_sent }}</a> </td>
                                          <td class=" "><a href="{% url 'assessment_detail_view' a.pk %}">{{ a.date_complete }}</a> </td>

                                        </tr>
                                        {% endfor %}

                                      </tbody>
                                    </table>
                                  </div>


                                </div>
                              </div>
                            </div>
                          </div>

                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                          <div class="col-xs-12">
 {% comment %}
<!--                              <div  class="btn btn-link pull-right" style="margin-right: 10px;"><a href="{% url 'question_view' %}"><i class="fas fa-list-ul"></i> Back to List </a></div>-->
{% endcomment %}
                          </div>
                        </div>
                    </section>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}

{% block javascripts %}
  {{ block.super }}


{% endblock javascripts %}

{% block jq%}

{% endblock jq %}
