{% extends "base_custom.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Assessment {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- Cards css -->
    <link rel="stylesheet" href="/static/build/css/cards.css">
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Upload Questions from File <small>make sure to download the right template from <a href="/static/Template vF.xlsx" download><strong>here</strong></a> and review the instructions</small></h2>

              <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <form action="{% url 'question_upload_from_file_view' %}" method="post" enctype = "multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 8%">
                        <div class="col-md-2 col-sm-2 col-xs-12"></div>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group pull-right" style="display: inline">
                                <input  style="display: inline" class="btn btn-primary" type="file" id="myfile" name="myfile">
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group" style="display: inline">
                              <button class="btn btn-primary" type="submit"  value="submit">
                                  <i class="fas fa-upload"></i>
                              </button>
                            </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12"></div>
                    </div>
                </form>

<!--              <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->

                <!--
{#              <div class="table-responsive">#}
{#                <table class="table table-striped jambo_table bulk_action">#}
{#                  <thead>#}
{#                    <tr class="headings">#}
{##}
{#                        <th class="column-title">#</th>#}
{##}
{#                        <th class="column-title">Candidate Name</th>#}
{#                        <th class="column-title">Candidate Email</th>#}
{#                        <th class="column-title">Creator</th>#}
{#                        <th class="column-title">Sent</th>#}
{#                        <th class="column-title">Completed</th>#}
{##}
{##}
{#                    </tr>#}
{#                  </thead>#}
{##}
{#                  <tbody>#}
{##}
{##}
{#                    <tr class="even pointer">#}
{##}
{##}
{##}
{#                      <td class=" "><a href="">  </a> </td>#}
{#                      <td class=" "></td>#}
{#                      <td class=" "></td>#}
{#                      <td class=" "></td>#}
{#                      <td class=" "></td>#}
{#                      <td class=" "></td>#}
{##}
{#                    </tr>#}
{##}
{##}
{#                  </tbody>#}
{#                </table>#}
{#              </div>#}
-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}

{% block javascripts %}
  {{ block.super }}


{% endblock javascripts %}

{% block jq%}

{% endblock jq %}