{% extends "base_custom.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Assessment {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- Cards css -->
    <link rel="stylesheet" href="/static/build/css/cards.css">
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Questions Uploaded </h2>

              <div class="clearfix"></div>
            </div>

            <div class="x_content" style="padding-left: 2%;">
                    <div class="row" style="color: green;">
                        <h1>
                                <i class="fas fa-thumbs-up" style="padding-bottom: 5%"></i> Questions Uploaded Successfully:
                                {% if saved_questions %}

                                {% for item in saved_questions %}
                                {{ item }},
                                {% endfor %}

                                {% else %}
                                    -
                                {%  endif %}
                        </h1>

                    </div>

                    <div class="row" style="color: red;">
                        <h1>
                                <i class="fas fa-hand-paper" style="padding-bottom: 5%"></i> Questions Uploaded UnSuccessfully:
                        {% if not_saved_questions %}

                            {% for item in not_saved_questions %}
                                {{ item }},
                            {% endfor %}

                            {% else %}
                                    -
                            {%  endif %}
                        </h1>

                    </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}

{% block javascripts %}
  {{ block.super }}


{% endblock javascripts %}

{% block jq%}

{% endblock jq %}