{% extends "base_custom.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Question Submitted Confirmation {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- Cards css -->
    <link rel="stylesheet" href="/static/build/css/cards.css">
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">


      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>Dear <i>{{ user }}</i>, welcome to the Assessment Center</h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form method="post" action="">
                  {% csrf_token %}
                    <section class="">
                        <!-- title row -->
                        <div class="row">
                          <div class="col-xs-12">
                            <h1>
                                {% if assessment.completed == 'Yes'%}
                                <i class="fas fa-check-circle"></i> Your Test has been submitted succefully.
                                {% else %}
                                <i class="fas fa-pause-circle"></i> You have not completed the test yet.
                                {% endif %}
                                <small class="pull-right"><small><small>
                                    Today: <div id="demo"></div>
                                    <script>
                                                var d = new Date();
                                                document.getElementById("demo").innerHTML = d.toDateString();
                                    </script>
                                    </small></small>
                                </small>
                            </h1>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row">
                          <div class="col-xs-12">
                              <h2>
                                   <i>Test Name:<strong> {{assessment.assessment_name}}</strong></i>
                              </h2>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                              <h2>
                                   <i>Token: </i>
                                      <input class="form-text" value="{{ assessment.token}}" readonly="readonly"></input>

{#                                       <input >{{assessment.token}}</input>#}
                              </h2>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                              <h2>
                                   <i>Time Submitted:<strong> {{assessment.date_complete}}</strong></i>
                              </h2>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                              <h2>
                                  <i>Candidate email: <strong>{{assessment.candidate_email}}</strong></i>
                              </h2>

                          </div>
                        </div>

                        <div class="row" style="padding-top:5%">
                            <div class="col-xs-6" style="text-align: center;">
                                <a href="">
                                <i class="fas fa-chalkboard-teacher fa-10x" style="text-align: center;"></i>
                                <div style="text-align: center; padding-top:2%"><h2><i>Practice Questions</i></h2></div>
                                </a>
                            </div>
                            <div class="col-xs-6" style="text-align: center;">
                                <a href="">
                                <i class="fas fa-shapes fa-10x" style="text-align: center;"></i>
                                <div style="text-align: center; padding-top:2%"><h2><i>Start Assessment</i></h2></div>
                                </a>
                            </div>
                        </div>

                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                          <div class="col-xs-12">
 {% comment %}
<!--                              <div  class="btn btn-link pull-right" style="margin-right: 10px;"><a href="{% url 'question_view' %}"><i class="fas fa-list-ul"></i> Back to List </a></div>-->
{% endcomment %}
                          </div>
                        </div>
                    </section>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}

{% block javascripts %}
  {{ block.super }}


{% endblock javascripts %}

{% block jq%}

{% endblock jq %}
